wf.json
{
  "createdAt": "2024-02-23T16:58:31.616Z",
  "updatedAt": "2024-02-23T16:58:31.616Z",
  "id": "srOnR8PAY3u4RSwb",
  "name": "Demo API Workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "/api/data"
      },
      "id": "74003dcd-2ac7-4caa-a1cd-adecc5143c07",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        660,
        340
      ],
      "webhookId": "cdb5c076-d458-4b9d-8398-f43bd25059b1"
    },
    {
      "parameters": {
        "url": "https://example.com/api/data",
        "options": {}
      },
      "id": "ce8c3da4-899c-4cc4-af73-8096c64eec64",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        880,
        340
      ]
    },
    {
      "parameters": {
        "functionCode": "const data = $input.all();\ndata[0].json.message = 'Data manipulated by n8n!';\nreturn data;"
      },
      "id": "3dee878b-d748-4829-ac0a-cfd6705d31e5",
      "name": "Function - Manipulate Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        900,
        560
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Function - Manipulate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4e2affe6-bb1c-4ddc-92f9-dde0b7656796",
  "triggerCount": 0,
  "tags": []
}
